# Xcode
.DS_Store
*/build/*
vendor/**/build*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods
.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
vendor/Pods
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
*.swp
*.orig
resources/app.yml
resources/*/Localizable.strings
app/testflight_launcher.rb
vendor/TestFlightSDK2.1.3/build-iPhoneOS/
features/screens/**/current.png
features/screens/**/diff.png
spec/screens/**/current.png
spec/screens/**/diff.png
